.header-brand-logo{
  margin-left: 20px;
}

.header-foods{
  font-size: 8px;
  color: #f2f2f2;


}

.nav-title {
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

img {
  height: 30px;
  border: 0px;
  margin-left: 20px;;
}
