.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #1e565c;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
  margin: 0;
}

.nav-title .image {
  size: 10px;
}

.navLink {
  display: inline-block;
  color: white;
  background-color: #1e565c;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 12px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;

  font-family: 'proxima-nova';
  font-style: 'normal';
  letter-spacing: '.11em';
  text-transform: 'uppercase';
}

.navLink:hover {
  color: #f3a653;
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
}

img {
  height: 80px;
  border: 0px;
  padding: 0;
  margin-left: 50px;
}
